@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}